@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 14px;
}

header {
  align-items: center;
  background-color: #EF3E38;
  box-shadow: 0 1px 5px 1px #555;
  display: flex;
  height: 80px;
}

header .header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0 auto;
  width: 1200px;
}

header .logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

header .logo .logo__imagem {
  width: 150px;
}

header .logo .logo__imagem img {
  width: 100%;
}

header .busca {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

header .busca input {
  border: none;
  border-radius: 10px;
  height: 30px;
  padding: 0 15px;
  width: 400px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header .busca input:active,
header .busca input:focus {
  outline: none;
}

header .busca .busca__imagem {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 7px;
  width: 20px;
}

header .busca .busca__imagem img {
  filter: invert(1);
  transform: rotate(-90deg);
  width: 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-filter: invert(1);
}

header .login {
  align-items: center;
  cursor: pointer;
  display: flex;
}

header .login .login__imagem {
  width: 20px;
}

header .login .login__imagem img {
  filter: invert(1);
  width: 100%;
  -webkit-filter: invert(1);
}

header .login p {
  color: #ffffff;
  margin-left: 10px;
}

header .login__modal {
  display: none;
}

header .login__modal--container {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

header .login__modal--overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100%;
}

.iniciais {
  margin: 0 auto;
  max-width: 1200px;
}

.iniciais__titulo {
  margin: 30px;
  text-align: center;
}

.iniciais__wrapper {
  display: flex;
  justify-content: space-between;
}

.iniciais__item {
  align-items: center;
  background-color: #f5f6fa;
  border-radius: 20px;
  box-shadow: 0 0 5px 0px #dcdde1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  transition: all .4s ease-in-out;
  width: 320px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.iniciais__item:hover {
  transform: scale(1.1);
}

.iniciais__item:hover .iniciais__imagem img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.iniciais__item[data-type*="grass"]:hover {
  background-color: #7bed9f;
}

.iniciais__item[data-type*="grass"] button {
  background-color: #2ed573;
}

.iniciais__item[data-type*="water"]:hover {
  background-color: #70a1ff;
}

.iniciais__item[data-type*="water"] button {
  background-color: #1e90ff;
}

.iniciais__item[data-type*="fire"]:hover {
  background-color: #ff6b81;
}

.iniciais__item[data-type*="fire"] button {
  background-color: #ff4757;
}

.iniciais__imagem {
  width: 50%;
}

.iniciais__imagem img {
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.iniciais__descricao {
  font-size: .9rem;
  text-align: center;
  width: 75%;
}

.iniciais__botao {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  transition: all .4s ease-in-out;
}

.iniciais__botao:hover {
  box-shadow: 0 0 10px 10px rgba(255,255,255,.4);   
}

.iniciais__modal {
  opacity: 0;
  position: relative;
  transition: all .4s ease-in-out;
  z-index: -1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.iniciais__modal.show {
  opacity: 1;
  z-index: 0;
}

.iniciais__modal--overlay {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.iniciais__modal--wrapper {
  border-radius: 10px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
}

.iniciais__modal--wrapper[data-type*="grass"] {
  background-color: #7bed9f;
}

.iniciais__modal--wrapper[data-type*="water"] {
  background-color: #70a1ff;
}

.iniciais__modal--wrapper[data-type*="fire"] {
  background-color: #ff6b81;
}

.iniciais__modal--wrapper::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.iniciais__modal--wrapper[data-type*="grass"]::before {
  background-image: url(./../assets/leaf.svg);
}

.iniciais__modal--wrapper[data-type*="water"]::before {
  background-image: url(./../assets/water.svg);
}

.iniciais__modal--wrapper[data-type*="fire"]::before {
  background-image: url(./../assets/fire.svg);
}

.iniciais__modal--item:not(:first-child) {
  display: none;
}

.iniciais__modal--item {
  color: #33363A;
  max-height: 80vh;
  padding: 60px 30px 30px;
  position: relative;
}

.iniciais__modal--fechar {
  align-items: center;
  border-radius: 100%;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: .9rem;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  /* left: calc((100vw - 450px) / 2); */
  left: 0;
  position: absolute;
  top: 0;
  /* top: calc((100vh - 700px) / 2); */
  transform: translate(-50%, -50%);
  width: 30px;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.iniciais__modal--fechar[data-type*="grass"] {
  background-color: #218c74;
}

.iniciais__modal--fechar[data-type*="water"] {
  background-color: #227093;
}

.iniciais__modal--fechar[data-type*="fire"] {
  background-color: #b33939;
}

.iniciais__modal--item .imagem {
  cursor: pointer;
  margin: 0 auto;
  max-width: 250px;
  left: 55%;
  position: absolute;
  top: -15%;
  transition: all .4s ease-in-out;
  width: 55%;
}

.iniciais__modal--item .imagem:hover {
  transform: rotate(10deg);
}

.basico .identificacao span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

.basico .identificacao h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.basico .descricao {
  font-size: .9rem;
}

.iniciais__modal--item .anatomia {
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 15px;
}

.iniciais__modal--item .anatomia .item {
  text-align: center;
}

.iniciais__modal--item .anatomia .item h3,
.iniciais__modal--item .anatomia .item p {
  font-size: .9rem
}

.iniciais__modal--item .batalha {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.iniciais__modal--item .batalha .caracteristicas {
  border-right: 1px solid;
  width: 35%;
}

.iniciais__modal--item .batalha .caracteristicas > section div {
  display: inline-block;
  background-color: aquamarine;
  border-radius: 100%;
  height: 20px;
  margin: 5px 0;
  width: 20px;
}

.iniciais__modal--item .batalha .caracteristicas > section div:not(:first-of-type) {
  margin-left: 15px;
}

.iniciais__modal--item .batalha .habilidades {
  width: 60%;
}

.iniciais__modal--item .batalha .habilidades > section {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}


.iniciais__modal--item .batalha .habilidades > section .nivel {
  /* margin-left: 12px; */
}

.iniciais__modal--item .batalha .habilidades > section .nivel span {
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.iniciais__modal--item .evolucoes {
  position: relative;
}

.iniciais__modal--item .evolucoes h3 {
  border-radius: 15px;
  color: #FFF;
  font-size: .8rem;
  left: 50%;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 30%;
}

.iniciais__modal--item .evolucoes h3[data-type*="grass"] {
  background-color: #218c74;
}

.iniciais__modal--item .evolucoes h3[data-type*="water"] {
  background-color: #227093;
}

.iniciais__modal--item .evolucoes h3[data-type*="fire"] {
  background-color: #b33939;
}

.iniciais__modal--item .evolucoes .evolucoes__wrapper {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.iniciais__modal--item .evolucoes .evolucoes__wrapper .forma {
  text-align: center;
}

.iniciais__modal--item .evolucoes .evolucoes__wrapper .forma img {
  cursor: pointer;
  transition: transform .4s ease-in-out;
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -ms-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
}

.iniciais__modal--item .evolucoes .evolucoes__wrapper .forma img:hover {
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

.iniciais__modal--item .btn-escolher {
  border: none;
  border-radius: 15px;
  color: #FFF;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 20px;
  transition: all .4s ease-in-out;
  width: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.iniciais__modal--item .btn-escolher[data-type*="grass"] {
  background-color: #2ed573;
}
.iniciais__modal--item .btn-escolher[data-type*="water"] {
  background-color: #74b9ff;
}
.iniciais__modal--item .btn-escolher[data-type*="fire"] {
  background-color: #ff4757;
}

.iniciais__modal--item .btn-escolher[data-type*="grass"]:hover {
  background-color: #218c74;
}

.iniciais__modal--item .btn-escolher[data-type*="water"]:hover {
  background-color: #227093;
}

.iniciais__modal--item .btn-escolher[data-type*="fire"]:hover {
  background-color: #b33939;
}